﻿<%@ Page Title="" Language="C#" MasterPageFile="~/template.Master" AutoEventWireup="true" CodeBehind="Postwall.aspx.cs" Inherits="webdemo.Postwall" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style type="text/css">
        .more_button
        {
            width: 402px;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="new_released_box" style="text-align:left">
                    <h3>Điền Huỳnh Phong</h3>                   
                    <h4><textarea name="abc" id="postwall" cols="48" rows="7">write your post ...</textarea></h4>
                    <div class="more_button" align="right" style="width:405px;"><a href="#">Post</a>
                    </div>
       
                    <a href="#">3 people</a> like this
                    <p style="border-width: thin; border-style: groove; width:400px;">&nbsp;&nbsp; <a href="#">Nam Đào</a> abcde <br />&nbsp;&nbsp;10 minutes ago <a href="#">like</a></p>
                    <p style="border-width: thin; border-style: groove; width:400px;">&nbsp;&nbsp;<a href="#">Huỳnh Phong</a> 12345 <br />&nbsp;&nbsp;3 minutes ago <a href="#">like</a> &nbsp;<a href="#">1</a></p>
                    <div><textarea name="abc" id="Textarea1" cols="48" rows="7">write your comment...</textarea></div>
                    <br />
                    <div class="more_button"><a href="#">Send</a></div>
        </div>
</asp:Content>
