﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="QuanLyTaiKhoan.aspx.cs" Inherits="webdemo.QuanLyTaiKhoan" %>

<!DOCTYPE html>
<link href="templatemo_style.css" rel="stylesheet" type="text/css" />
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div class="form_row" style="text-align:left;">
     <div>
        <h3><a href="#">Thông tin cá nhân</a></h3>
    </div>
    <div>
        <h3><a href="#">Danh sách bạn bè</a></h3>
    </div>
    <div>
        <h3><a href="#">Tìm kiếm bạn bè</a></h3>
    </div>
    <div>
        <h3><a href="#">Thoát</a></h3>
    </div>
        </div>
    </form>
</body>
</html>
