﻿<%@ Page Title="" Language="C#" MasterPageFile="~/template.Master" AutoEventWireup="true" CodeBehind="ThongTin.aspx.cs" Inherits="webdemo.ThongTin" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
 <div class="new_released_box" style="text-align: left">
                    <h3>Điền Huỳnh Phong</h3> 
                    <img src="images/image02(140x140).jpg" alt="image" />
                    <br />
                    <br />
                    <h4>Birthday: 20-7-1987 </h4>                
                    <h4>Giới tính: Nam </h4>
                    <h4><a>Email: k_y_1989@gmail.com</a> </h4>
                    <h4>Phone: 0987654321</h4>
                    <h4>Sở thích: nghe nhạc, coi truyện, chơi game...</h4>
                    <div class="more_button"><a href="#">Post wall</a></div>
				</div>
</asp:Content>
