﻿<%@ Page Title="" Language="C#" MasterPageFile="~/template.Master" AutoEventWireup="true" CodeBehind="DangNhap.aspx.cs" Inherits="webdemo.DangNhap" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
<div id="new_released_section">
            <h1>Login</h1>

        </div>
        <div class="templatemo_right_panel_fullwidth">
                         <!-- end of news -->
            <h3>view more....</h3>            
                         <!-- end of top download -->
        </div>
</asp:Content>
