﻿<%@ Page Title="" Language="C#" MasterPageFile="~/template.Master" AutoEventWireup="true" CodeBehind="DangKy.aspx.cs" Inherits="webdemo.DangKy" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div id="new_released_section">
        <h1>Đăng ký</h1>

    </div>
    <div class="templatemo_right_panel_fullwidth" style="color: #ffc601;">
        <table cellpadding="1" cellspacing="2" border="0" width="300px" align="left">
            <tr>
                <td align="left">Account</td>
                <td>:</td>
                <td align="left">
                    <input name="acount" type="text" id="acount" /></td>
            </tr>
            <tr>
                <td align="left">Password</td>
                <td>:</td>
                <td align="left">
                    <input name="pass" type="password" id="pass" /></td>
            </tr>
            <tr>
                <td align="left">Repassword</td>
                <td>:</td>
                <td align="left">
                    <input name="repassword" type="password" id="repassword" /></td>
            </tr>
            <tr>
                <td align="left">Name</td>
                <td>:</td>
                <td align="left">
                    <input name="name" type="text" id="name" /></td>
            </tr>
            <tr>
                <td align="left" valign="top">Birthday</td>
                <td valign="top">:</td>
                <td align="left">
                    <input type='text' id="birthday" name="birthday" value="" onmousedown='getPicker(this);' />
                </td>
            </tr>
            <tr>
                <td align="left" valign="top">Sex</td>
                <td valign="top">:</td>
                <td align="left">
                    <%--<asp:CheckBox ID="gioitinh" runat="server" Text="" />--%>
                    <input type="checkbox" id="gioitinh" name="gioitinh" value="" />
                </td>
            </tr>
            <tr>
                <td align="left">Email</td>
                <td>:</td>
                <td align="left">
                    <input name="email" type="text" id="email" /></td>
            </tr>
            <tr>
                <td align="left">Phone</td>
                <td>:</td>
                <td align="left">
                    <input name="phone" type="text" id="phone" /></td>
            </tr>
            <tr>
                <td align="left">Sở thích</td>
                <td>:</td>
                <td align="left">
                    <input id="sothich" type="text" name="sothich" /></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td align="left">
                    <div class="more_button"><a href="#" onclick="DangKy();">Đăng ký</a></div>
                </td>
                <td>&nbsp;</td>
                <td align="left">
                    <div class="more_button"><a href="#">Reset</a></div>
                </td>
            </tr>

        </table>
        <!-- end of news -->
        <!-- end of top download -->
    </div>
</asp:Content>
