﻿<%@ Page Title="" Language="C#" MasterPageFile="~/template.Master" AutoEventWireup="true" 
    CodeBehind="QuanLy.aspx.cs" Inherits="webdemo.QuanLy" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div id="new_released_section" style="text-align: left">
        <h1>Danh sách bạn bè</h1>
    </div>
    <div id="tbListFriend">
        
    </div>

    <div class="templatemo_right_panel_fullwidth">
        <!-- end of news -->

        <!-- end of top download -->
    </div>

</asp:Content>
    