/*
CSS Credit: http://www.templatemo.com/
*/
body, html {
    height: 100%;
}
body {
	margin:0;
	padding:0;
	line-height: 1.5em;
	font-family:  Helvetica, Arial, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	background: #FFFFFF;
}

h1 {
	margin: 0 0 25px 0;more_button
	padding: 10px 0 10px 15px;
	font-size: 20px;
	font-weight: bold;
	color: #ffc601;
	background: #000000;
	border-bottom: 1px solid #b4a08a;
	text-align:left;
}

h2 {
	width: 235px;
	height: 25px;
	padding: 15px 0 0 35px;
	margin: 0 0 25px -10px;
	font-size: 16px;
	color: #6c5b4c;
	background: url(images/left_heading_background.gif) no-repeat;
	text-align: left;
}

h3 {
	margin: 0 0 5px 0;
	padding: 0;
	font-weight: bold;
	font-size: 14px;
	color: #ffc601;	
}

h4 {
	margin: 0 0 5px 0;
	padding: 0;
	font-weight: bold;
	font-size: 12px;
	color: #999999;	
}

.rantsection {
	height: 13px;
	margin-bottom: 10px;
}

.rantsection img {
	float: left;
	height: 13px;
	width: 13px;
	border: 0px;
	margin-right: 5px;
}

a:link, a:visited { color: #999999; text-decoration: none;} 
a:active, a:hover { color: #999999; text-decoration: underline;}

.more_button a{
	clear: both;
	text-align: center;
	display: block;
	width: 60px;
	padding: 1px 0;
	margin-bottom: 5px; 
	background: #6c5b4c;
	border-bottom: 1px solid #a59180;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
	
}

.more_button1 a{
	clear: both;
	text-align: center;
	display: block;
	width: 90px;
	padding: 1px 0;
	margin-bottom: 5px; 
	background: #6c5b4c;
	border-bottom: 1px solid #a59180;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
	
}

.download_button a{
	float: right;
	text-align: center;
	width: 65px;
	padding: 1px 0;
	background: #6c5b4c;
	border-bottom: 1px solid #a59180;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

img {
	border: 1px solid #6c5b4c;
}


/* ----- Form ----- */
.form_row{
	margin-bottom: 3px;
}

form{
	margin: 0;
	padding: 0;
	text-align: right;	
}

label {
	margin-right: 10px;
}

input{
	padding: 1px 0;
	line-height: normal;
	color: #99836c;
	border: 1px solid #99836c;
	background: #400a0a;
}
select{
	color: #99836c;
}

.button{
	width: 60px;
	line-height: normal;
	margin: 0;
	height: 23px;
}
/* End of Form */


#templatemo_container {
	margin: 0px auto;
	width: 970px;
	background: url(images/main_background.gif) repeat-y;
}

/*------------ Header --------------- */

#templatemo_header {
	float: left;
	width: 900px;
	padding: 0 35px;
	margin: 15px 0 10px 0;
}

#templatemo_title {
	float: left;
	width: 300px;
}

#templatemo_sitetitle {
	padding: 30px 0 10px 0;
	font-size: 4.0em;
	font-weight: bold;
	color: #FF9933;
	text-align:left;
}
#templatemo_sitetitle span{
	font-weight: normal;
	color: #FFFFFF;
}

#templatemo_login {
	float: right;
	margin-top: 25px;
	width: 300px;
}
/* -------------- End of Header------------------ */

/* --------- Banner ---------- */
#templatemo_banner {
	clear: both;
	width: 970px;
	height: 256px;
	background: url(images/banner.jpg) no-repeat;
}

#templatemo_banner_text {
	padding: 60px 0 0 225px;
	width: 550px;
}

#banner_title{
	margin: 0 0 25px 0;
	padding: 0;
	font-size: 24px;
	font-weight: bold;
	color: #ffc601;
	text-align:left;
}

#templatemo_banner_text p{
	margin: 0 0 25px 0;
	padding: 0;
	text-align:left;
}

/* --------- End of Banner ---------- */

/*--- Menu ---*/
#templatemo_menu{
	float: left;
	width: 970px;
	height: 51px;
	background: url(images/menu_background.gif) no-repeat;
}

#templatemo_menu ul {
	float: left;
	margin: 0;
	padding: 10px 0 0 40px;
	list-style: none;
}

#templatemo_menu ul li{
	display: inline;
}

#templatemo_menu ul li a{
	float: left;
	width: 140px;
	height: 20px;
	margin-top: 10px;
	padding: 0;
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #CCCCCC;
	border-right: 1px solid #CCCCCC;
}

#templatemo_menu ul li .lastmenu{
	border-right: none;
}

#templatemo_menu li a:hover, #templatemo_menu li .current{
	color: #FFCC33;
}
/*--- End of Menu ---*/

/*--- Content ---*/
#templatemo_content {
	float: left;
	margin: 0;
	padding: 0 10px;
	width: 950px;
}

/*--- Left Column---*/
#templatemo_left_column {
	float: left;
	margin: 20px 10px 0 0;
	padding: 0px;
	width: 235px;
	text-align:left;
}

.left_col_box {
	margin: 0 0 15px 5px;
	color: #AAA;
    width: 230px;
}

.blog_box {
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #220404;
	text-align:left;
}

.blog_box h3 a{
	font-size: 12px;
	color: #d3a401;	
	
}

.blog_box span{
	color: #99836c;
}
/*--- End of Left Column---*/

/*--- Right Column---*/
#templatemo_right_column {
	float: right;
	margin: 25px 25px 0 0;
	padding: 0;
	width: 650px;
}

.templatemo_right_panel_fullwidth {
	float: left;
	width: 650px;
	padding: 0 0 25px 0;
	text-align:left;
	height: 700px;
}

.templatemo_right_panel_fullwidth img{
	float: left;
	margin: 3px 10px 0 0;    
    height: 400px;

.templatemo_right_panel_fullwidth_content {
	float: left;
	width: 620px;
	padding: 0 15px 25px 15px;
}

.templatemo_right_panel_fullwidth_content p{
	text-align: justify;
}

#new_released_section {
	float: left;
	width: 650px;
	margin: 0 0 30px 0;
	text-align:left;
}

.new_released_box {
	float: left;
	width: 180px;
	margin: 0 10px 0 15px;	
	text-align:left;
}

.new_released_box img{
	margin-bottom: 5px;
    width: 60px;
}

#news_section {
	float: left;
	width: 310px;
	margin: 0 25px 0 0;
}

.news_box {
	float: left;
	width: 280px;
	margin: 0 15px 25px 15px;
}

.news_box img{
	float: left;
	width: 110px;
	margin: 3px 10px 0 0;
	border: 1px solid #333333;
}

.news_box p{
	margin: 0;
	padding: 0;
}

#topdownload_section {
	float: right;
	width: 300px;
	padding: 0;
	margin: 0;
	background: #99836c;
}

.topdownload_box {
	float: left;
	width: 270px;
	padding-bottom: 5px;
	margin: 0 15px 10px 15px;
	color: #24211d;
	font-weight: bold;
	border-bottom: 1px solid #6b5946;
	
}

* html .topdownload_box {
	margin: 0 15px 10px 7px;
}

.topdownload_box span{
	font-weight: normal;
}

.title_singer{
	float: left;
	width: 200px;
}
/*--- End of Right Column---*/
/*--- End of Content ---*/

/* ----- Footer ----- */
#templatemo_footer {
	clear: both;
	padding: 15px 0;
	width: 950px;
	margin: 0 10px;
	text-align:left;	
	color: #000000;
	background: #6c5b4c;		
}

#templatemo_footer a{
	color: #000000;
}

#templatemo_footer a:hover{
	color: #cccc66;
}
/* ----- End of Footer ----- */