﻿<%@ Page Title="" Language="C#" MasterPageFile="~/template.Master" AutoEventWireup="true" CodeBehind="TimKiem.aspx.cs" Inherits="webdemo.TimKiem" %>

<%--<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div id="new_released_section">
        <h1>Tìm Kiếm</h1>

    </div>
    <div class="templatemo_right_panel_fullwidth" id="map_canvas">
    </div>
</asp:Content>--%>
